*
{
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto','Segoe UI', Tahoma, sans-serif;
}

/* Body */
body
{
    margin: 0;
    font-size: 1em;
    background-color: #35363A;
}

/* Utility Class */
.flex
{
    display: flex;
}

a
{
    text-decoration: none;
    padding: 10px;
}

img
{
    width: 100%;
}

input
{
    color: black;
}

input::placeholder
{
    font-family: 'Segoe UI', Tahoma, sans-serif; 
    font-size: 16px;   
}

.icon-img
{
    width: 15px;
    height: 15px;
}

/* Header */
header
{
    min-width: 968px;
    justify-content: space-between;
    width: 100%;
}

/* header right */
header>.right
{
    padding: 10px;
    justify-content: space-evenly;
}

/* header right grps */
.right>.img-grp, .right>.a-grp
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.img-grp:hover:before
{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.15);
    clip-path: circle(20px);
}

/* header right img-menu */
.img-menu
{
    width: 40px;
}

.img-menu img
{
    padding: 10px;
    filter: invert(1);
}

/* header right name */
.name
{
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    background-color: #0097A7;
    color: #FFFFFF;
    clip-path: circle(16px);
}

/* container-grp */
.container-grp
{
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
    min-width: 968px;
    /* border: 2px solid red; */
}

/* google-name-container */
.google-name-container
{
    width : 272px;
    /* border: 2px solid green; */
    margin: 20px 0 0 0;
}

/* search-bar-container */
.search-bar-container
{
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-bar-container > input
{
    width: 561px;
    height: 44px;
    padding: 1px 87px 1px 52px;
    border-radius: 40px;
    outline: none;
    border: none;
}

/* .search-icon and .icon-grp */

.search-icon, .icon-grp
{
    position: absolute;
    width: 32px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-icon
{
    left: 20px;
}

.icon-grp
{
    width: 64px;
    right: 20px;
    justify-content: space-between;
}

.icon-grp > img
{
    width: 24px;
    height: 24px;
    right: 20px;
    justify-content: space-between;
}

/* Shortcut Container */
.shortcuts-container
{
    min-width: 968px;
    justify-content: center;
}

/* shortcut item grp */
.shortcut-item-grp
{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.shortcut-item-grp:hover::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    top: 0;
    z-index: -1;
    border-radius: 5px;
}

/* shortcut item */
.shortcut-item
{

    width: max-content;
    background-color: #202124;
    padding: 15px;
    clip-path: circle(24px);
}

.shortcut-item img
{
    width: 18px;
}

/* dark */
.dark
{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    flex-direction: column;
    
}

.dark span
{
    color : #4994F8
}

/* darkModeToggleContainer */
.darkModeToggleContainer
{
    position: relative;
    width: 60px;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
}

.toggle-label
{
    position: absolute;
    width: 100%;
    background-color: black;
    text-align: center;
}

.toggle-label:before {
    content: attr(data-off);
    color: white;
    position: absolute;
}


.toggle-label:after {
    content: attr(data-on);
    color: black;
}

.toggle-input:checked ~ .toggle-label
{
    background-color: white;
}

.toggle-input:checked ~ .toggle-label:before
{
    opacity: 0;
}

.toggle-input:checked ~ .toggle-label:after
{
    opacity: 1;
}
